<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>1094488000450-dhnm3i99oa80hr4s39ilni2db5ah8rio.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC2V59krh4UKrP7dPNTlT39JXqKu0dVUzg</string>
	<key>GCM_SENDER_ID</key>
	<string>1094488000450</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firestoreApp</string>
	<key>PROJECT_ID</key>
	<string>fir-practice-218b3</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-practice-218b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1094488000450:ios:dcf6aa459a800807c4385b</string>
</dict>
</plist>